<div class="navbar" style="animation-delay: 0.5s; transition: all 0.3s ease-in-out 0s;">
  <a href="/">
    <img class="fadeInUp logo" title="Dados Covid 19 Brasil" alt="COVID-19 Brasil - dados" src="assets/icones/logo.png" style="animation-delay: 0s; transition: all 0.3s ease-in-out 0s;">
  </a>
  <div class="navbar-left">
    <div class="navbar-menu hidden">
      <a [routerLink]="['/inicio']">
        <span routerLinkActive="fadeInUp focused" class="fadeInUp" style="animation-delay: 0.2s;">Início</span>
      </a>
      <a [routerLink]="['/links']">
        <span routerLinkActive="fadeInUp focused" class="fadeInUp" style="animation-delay: 0.4s;">Links de ajuda</span>
      </a>
      <a [routerLink]="['/sobre']">
        <span routerLinkActive="fadeInUp focused" class="fadeInUp" style="animation-delay: 0.5s;">Sobre</span>
      </a>
    </div>
  </div>
  <div class="navbar-right">
    <div class="navbar-toggle">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
