<div class="containerGeral">

  <div class="header fadeInUp" style="animation-delay: 0.7s;">

    <div>
      <h1>Projeto open-source</h1>
      <h3>Covid-19 Brasil </h3>
    </div>

    <h6 class="disclaimer">
      Os dados são atualizados diáriamente pelos serviços governamentais.
    </h6>

  </div>

  <div class="reminder fadeInUp" style="animation-delay: 1s">

    <p>
      Para o desenvolvimento deste projeto foram utilizados os dados oficiais do governo do Brasil e do
      projeto Covid19 do Johns Hopkins CSSE.
      Esses dados estão disponíveis pelo acesso via API's, os quais você pode consultar nos links abaixo:
    </p>

    <p>
      <a style="width: 96%; justify-content: center;" href="https://brasil.io/api/dataset/covid19/" target="_blank" rel="noopener noreferrer" class="button twitter"><span>Brasil IO</span></a>
      <a style="width: 96%; justify-content: center;" href="https://covid19api.com/" target="_blank" rel="noopener noreferrer" class="button twitter"><span>Covid19API</span></a>
    </p>

    <p>Esse projeto segue a licença open-source MIT e tem referência do projeto Covid19India.org o qual está
      disponível no github sob a licença MIT, para mais detalhes acesso o link abaixo:
      <a style="width: 96%; justify-content: center;" href="https://github.com/covid19india/covid19india-react" target="_blank" rel="noopener noreferrer" class="button twitter"><span>Covid19 India</span></a>
    </p>

    <br />
    <br />
    <br />

    <p>
      Quer utilizar esse projeto em seus estudos ou contribur? Acesse o <a href="https://github.com/andeoliveira/covid19brasil">diretório do github</a> para mais detalhes.</p>

  </div>
</div>
